/*------------------------------------*\
  风格主题
\*------------------------------------*/

:where(:lang(zh-Hans)) {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans SC", sans-serif;
}

:lang(zh-Hant) {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans TC", sans-serif;
}

:lang(ja) {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans JP", sans-serif;
}

code {
    font-family: "Roboto Condensed", monospace;
}

/*------------------------------------*\
  字体排印
\*------------------------------------*/

:lang(en) {
    --display-4-leading: 7rem;
    --display-3-leading: 4rem;
    --display-2-leading: 3rem;
    --display-1-leading: 2.5rem;
    --headline-leading: 2rem;
    --title-leading: 1.75rem;
    --subheading-leading: 1.5rem;
    --body-leading: 1.25rem;
    --caption-leading: 1rem;
}

:lang(zh),
:lang(ja) {
    --display-4-leading: 8rem;
    --display-3-leading: 4.875rem;
    --display-2-leading: 3.9375rem;
    --display-1-leading: 3rem;
    --headline-leading: 2.125rem;
    --title-leading: 1.875rem;
    --subheading-leading: 1.625rem;
    --body-leading: 1.4375rem;
    --caption-leading: 1.25rem;
}

.display4 {
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: var(--display-4-leading);
}

.display3 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -0.005em;
    line-height: var(--display-3-leading);
}

.display2 {
    font-size: 2.8125rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--display-2-leading);
}

.display1 {
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--display-1-leading);
}

.headline {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: var(--headline-leading);
}

.title {
    font-size: 1.25rem;
    letter-spacing: 0.005em;
    line-height: var(--title-leading);
}

.subheading {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: var(--subheading-leading);
}

.body1,
.body2 {
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    line-height: var(--body-leading);
}

.body1 {
    font-weight: 400;
}

.body2 {
    font-weight: 500;
}

.caption {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: var(--caption-leading);
}

/*------------------------------------*\
  颜色
\*------------------------------------*/

:root {
    --light-blue-50: #e1f5fe;
    --light-blue-100: #b3e5fc;
    --light-blue-200: #81d4fa;
    --light-blue-300: #4fc3f7;
    --light-blue-400: #29b6f6;
    --light-blue-500: #03a9f4;
    --light-blue-600: #039be5;
    --light-blue-700: #0288d1;
    --light-blue-800: #0277bd;
    --light-blue-900: #01579b;
    --light-blue-a100: #80d8ff;
    --light-blue-a200: #40c4ff;
    --light-blue-a400: #00b0ff;
    --light-blue-a700: #0091ea;
    --deep-orange-a400: #ff3d00;
    --deep-orange-a700: #dd2c00;
    --blue-grey-50: #eceff1;
    --blue-grey-100: #cfd8dc;
    --blue-grey-200: #b0bec5;
    --blue-grey-300: #90a4ae;
    --blue-grey-400: #78909c;
    --blue-grey-500: #607d8b;
    --blue-grey-600: #546e7a;
    --blue-grey-700: #455a64;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
    --blue-grey-950: #21272b;
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-200: #eeeeee;
    --grey-300: #e0e0e0;
    --grey-400: #bdbdbd;
    --grey-500: #9e9e9e;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-850: #303030;
    --grey-900: #212121;
    --grey-950: #121212;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-text-color: rgba(0, 0, 0, 0.87);
        --secondary-text-color-alt: rgba(0, 0, 0, 0.7);
        --secondary-text-color: rgba(0, 0, 0, 0.54);
        --hint-text-color: rgba(0, 0, 0, 0.38);
        --hint-text-color-alt: rgba(0, 0, 0, 0.2);
        --divider-color: rgba(0, 0, 0, 0.12);
        --accent-text-color: var(--light-blue-900);
        --accent-text-color-alt: var(--light-blue-700);
        --activated-text-color: var(--light-blue-800);
        --primary-background-color: var(--grey-50);
        --secondary-background-color: var(--blue-grey-50);
        --accent-background-color: var(--blue-grey-50);
        --warning-text-color: var(--deep-orange-a700);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: rgba(255, 255, 255, 1);
        --secondary-text-color-alt: rgba(255, 255, 255, 0.87);
        --secondary-text-color: rgba(255, 255, 255, 0.7);
        --hint-text-color: rgba(255, 255, 255, 0.5);
        --hint-text-color-alt: rgba(255, 255, 255, 0.38);
        --divider-color: rgba(255, 255, 255, 0.12);
        --accent-text-color: var(--light-blue-600);
        --accent-text-color-alt: var(--light-blue-400);
        --activated-text-color: var(--light-blue-500);
        --primary-background-color: var(--grey-900);
        --secondary-background-color: var(--blue-grey-950);
        --accent-background-color: var(--blue-grey-800);
        --warning-text-color: var(--deep-orange-a400);
    }
}
