@import url("./modules/theme.css");

/*------------------------------------*\
  全局设置
\*------------------------------------*/

:root {
    --increment: 64px;
    --keyline: 24px;
    --main-grid-unit: 360px;
    --main-column-gap: 40px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1;
    user-select: none;
}

a {
    text-decoration: none;
    color: var(--accent-text-color);
}

p a:hover {
    text-decoration: underline;
}

dd a {
    padding: 0px 4px;
    border: 1px solid currentColor;
}

a:hover,
button:hover {
    color: var(--accent-text-color-alt);
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--accent-text-color);
    cursor: pointer;
}

code {
    padding: 2px 4px;
    background-color: var(--accent-background-color);
    border-radius: 2px;
}

dl,
dd {
    margin: 0;
}

dd {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
    user-select: text;
}

hr {
    margin: 0;
    align-self: stretch;
    border-color: var(--divider-color);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

p {
    margin: 0;
}

p:not(:last-of-type) {
    margin-bottom: 7px;
}

picture {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::selection {
    color: #ffffff;
    background-color: var(--blue-grey-500);
}

@font-face {
    font-family: "FGI-Icons";
    src: url("../resources/FGI-Icons.woff") format("woff");
}

.icon {
    font-family: "FGI-Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    flex-shrink: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.icon::before {
    content: attr(data-icon);
}

/*------------------------------------*\
  正文
\*------------------------------------*/

.activated {
    font-weight: 700;
}

body > hr {
    align-self: center;
    width: 100%;
    max-width: calc(3 * var(--main-grid-unit) + 2 * var(--main-column-gap));
}

/* 提示栏 */

.version-warning {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 0 var(--increment);
}

.version-warning .container {
    width: 100%;
    max-width: calc(3 * var(--main-grid-unit) + 2 * var(--main-column-gap));
    display: grid;
    grid-template-columns: 56px auto;
    justify-items: start;
    align-items: center;
}

.version-warning span {
    color: var(--blue-grey-500);
}

.version-warning p {
    margin: 13px 0;
}

/* 导航顶栏 */

header {
    width: calc(100% - 2 * var(--increment));
    max-width: calc(3 * var(--main-grid-unit) + 2 * var(--main-column-gap));
    margin-top: 24px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 17px 0;
    row-gap: 8px;
}

header h3 {
    margin-right: var(--main-column-gap);
}

header ul {
    display: flex;
    row-gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

header li:not(:last-of-type) {
    margin-right: var(--keyline);
}

header a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
}

header .icon {
    font-size: 18px;
}

/* 页脚 */

footer {
    display: grid;
    grid-template-columns: repeat(3, var(--main-grid-unit));
    gap: var(--main-column-gap);
    margin: var(--main-column-gap) 0;
    padding: 0 var(--increment);
}

footer p .icon {
    font-size: 18px;
    vertical-align: text-top;
    margin-right: 6px;
}

address {
    font-style: normal;
    margin-top: 7px;
}

address a {
    display: inline-flex;
    padding: 12px;
}

/* 主页 */

.preface {
    display: grid;
    grid-template-columns: repeat(3, var(--main-grid-unit));
    gap: calc(var(--main-column-gap) / 2) var(--main-column-gap);
    margin: var(--main-column-gap) 0;
    padding: 0 var(--increment);
}

hgroup {
    grid-column: 1/-1;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.005em;
    line-height: var(--display-3-leading);
}

.preface h1 {
    margin-bottom: 3px;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0em;
    line-height: var(--headline-leading);
}

.preface p {
    margin-top: 8px;
}

.preface article {
    grid-column: span 2;
    user-select: text;
}

.preface nav {
    font-size: 1.5rem;
    letter-spacing: 0em;
    line-height: var(--headline-leading);
    column-gap: var(--main-column-gap);
}

.preface nav a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 10px 0;
    column-gap: 20px;
}

.preface nav span {
    font-size: 36px;
}

/* 所有游戏 */

.entry {
    max-width: calc(3 * var(--main-grid-unit) + 2 * var(--main-column-gap));
    display: grid;
    grid-auto-flow: row;
    margin: var(--main-column-gap) 0;
    padding: 0 var(--increment);
    row-gap: 24px;
}

.category {
    display: grid;
    grid-auto-flow: row;
    row-gap: var(--keyline);
    margin-bottom: var(--keyline);
}

.category > li {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 16px;
}

.category ul {
    display: flex;
    flex-wrap: wrap;
}

.category ul li:not(:last-of-type) {
    margin-right: 16px;
    margin-bottom: 8px;
}

.entry article {
    display: grid;
    grid-template-columns: repeat(3, var(--main-grid-unit));
    grid-template-rows: max-content max-content auto;
    column-gap: var(--main-column-gap);
}

.entry h4 {
    grid-column: span 2;
    font-weight: 700;
    margin-bottom: 15px;
}

article:lang(en) h4 {
    margin-bottom: 7px;
}

.entry[class~="detailed"] article:lang(en) h4 {
    margin-bottom: 12px;
}

.entry article > picture {
    grid-column-end: -1;
    grid-row: 1/-1;
    align-self: center;
}

.entry:not(.sifted) article > picture img {
    aspect-ratio: 16/9;
}

:is(.entry, .introduction) h4 {
    font-size: 2.125rem;
    letter-spacing: 0em;
    line-height: var(--display-1-leading);
}

:is(.entry, .introduction) h4 span {
    font-size: 1.5rem;
    letter-spacing: 0em;
    line-height: var(--headline-leading);
}

/* 游戏详情 */

.introduction {
    display: grid;
    grid-template-columns: repeat(3, var(--main-grid-unit));
    grid-template-rows: repeat(4, max-content) auto;
    column-gap: var(--main-column-gap);
    margin: var(--main-column-gap) 0;
    padding: 0 var(--increment);
}

.introduction h4 {
    font-weight: 700;
    margin-bottom: 14px;
}

.introduction hr {
    margin: var(--keyline) 0;
}

.description {
    grid-column: span 2;
    user-select: text;
}

.entry[class~="detailed"] .description {
    margin-bottom: var(--main-column-gap);
}

.introduction .description {
    margin-bottom: var(--main-column-gap);
    font-size: 1.25rem;
    letter-spacing: 0.005em;
    line-height: var(--headline-leading);
}

.description h5 {
    font-weight: 700;
    margin-top: 13px;
    margin-bottom: 7px;
}

.media {
    grid-column: span 2;
}

.media picture {
    margin-bottom: 16px;
}

.labels {
    grid-column: span 2;
    column-count: 2;
    column-gap: var(--main-column-gap);
}

.entry[class~="detailed"] .labels {
    margin-bottom: 8px;
}

.introduction .labels {
    margin-bottom: var(--main-column-gap);
}

.labels div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    break-inside: avoid-column;
}

.labels div:not(:last-of-type) {
    margin-bottom: 8px;
}

.labels dt {
    width: 100%;
    margin-bottom: 4px;
}

.labels dd:not(:last-of-type) {
    margin-right: 4px;
    margin-bottom: 4px;
}

.staff {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--main-column-gap);
    margin-bottom: var(--main-column-gap);
}

.staff ul {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.staff ul[class~="secondary"] {
    row-gap: 8px;
    padding-top: 4px;
}

.staff li {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
}

.staff .primary li {
    height: 56px;
}

.staff .secondary li {
    height: 48px;
}

.staff .secondary .icon {
    color: var(--secondary-text-color);
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.avatar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid var(--divider-color);
    box-sizing: border-box;
}

.avatar img {
    display: flex;
}

.staff li span {
    display: block;
}

.staff span[lang="en"] span {
    margin-top: -1px;
}

.resources {
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    top: var(--keyline);
    position: sticky;
    align-self: start;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.platforms {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
    padding: 8px 0;
    margin-top: 8px;
    break-after: column;
}

:is(.resources, .author ul) li {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    padding: 7px 0;
    column-gap: 20px;
    break-inside: avoid;
}

:is(.resources, .author ul, .languages ul) a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
}

.resources p {
    margin-bottom: 7px;
}

.nsfw {
    color: var(--warning-text-color);
}

/* 作者信息 */

.author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    user-select: text;
}

.author .avatar {
    width: var(--increment);
    height: var(--increment);
    margin-right: var(--keyline);
}

.author h4 {
    margin: 0;
}

.author h5 {
    color: var(--secondary-text-color);
}

.author ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 40px;
    padding-left: calc(var(--increment) + var(--keyline));
    margin: 8px 0;
    box-sizing: border-box;
}

.author ul a {
    column-gap: 8px;
}

/* 首选项*/

.preferences,
.languages,
.faq {
    width: min(calc(100% - 2 * var(--increment)), 100%);
    max-width: calc(3 * var(--main-grid-unit) + 2 * var(--main-column-gap));
    display: grid;
    grid-auto-flow: row;
    row-gap: var(--main-column-gap);
    margin: var(--main-column-gap) 0;
}

:lang(zh) .preferences h2 {
    font-weight: 700;
    margin-bottom: 22px;
}

/* 常见问题*/

.faq {
    user-select: text;
}

.faq section:not(:last-of-type) {
    margin-bottom: 40px;
}

.faq h2 {
    font-weight: 700;
    margin-bottom: 18px;
}

.faq h3 {
    font-weight: 700;
    margin-bottom: 9px;
}

/* 语言*/

.languages > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--main-column-gap);
}

.languages > ul ul {
    display: grid;
    grid-auto-flow: row;
    row-gap: var(--keyline);
}

.languages .icon {
    font-size: 36px;
}

/*------------------------------------*\
  响应式
\*------------------------------------*/

@media (max-width: 1288px) {
    .preface,
    .introduction,
    .entry article {
        grid-template-columns: auto var(--main-grid-unit);
    }
    .preface article,
    .entry h4,
    .description,
    .staff,
    .media,
    .labels {
        grid-column: span 1;
    }
    body > hr {
        max-width: calc(100% - 2 * var(--increment));
    }
    footer {
        grid-template-columns: auto var(--main-grid-unit);
    }
}

@media (max-width: 1288px) and (min-width: 472px) {
    .entry[class~="sifted"] {
        max-width: calc(100% - 2 * var(--increment));
    }
}

@media (max-width: 1128px) {
    .introduction {
        grid-template-columns: 600px auto;
    }
}

@media (max-width: 1068px) {
    .introduction {
        grid-template-columns: auto 300px;
    }
    .entry[class~="sifted"] {
        flex-direction: column;
        align-items: unset;
    }
    .author ul .icon {
        width: unset;
    }
}

@media (max-width: 948px) {
    .introduction,
    .entry[class~="detailed"] article {
        display: flex;
        flex-direction: column;
    }
    .introduction {
        margin-top: var(--keyline);
    }
    :is(.introduction, .entry[class~="detailed"]) .description {
        order: 1;
        margin-bottom: 34px;
    }
    .entry article > picture {
        margin-bottom: 13px;
    }
    .entry article:lang(en) > picture {
        margin-bottom: 14px;
    }
    .staff {
        order: 2;
    }
    .labels {
        order: 3;
    }
    .media {
        order: 4;
    }
    .entry[class~="detailed"] .labels {
        margin-bottom: 20px;
    }
    .resources {
        top: 0;
        position: relative;
        align-self: stretch;
        display: block;
        column-gap: var(--main-column-gap);
    }
    .introduction .resources {
        margin-bottom: 40px;
    }
    .resources picture {
        margin-top: 7px;
    }
    .languages > ul {
        grid-template-columns: auto var(--main-grid-unit);
    }
    .author ul {
        grid-template-columns: repeat(3, max-content);
    }
}

@media (max-width: 948px) and (min-width: 768px) {
    .resources {
        column-count: 2;
    }
}

@media (max-width: 888px) {
    .preface {
        display: flex;
        flex-direction: column;
    }
    .preface nav {
        column-count: 2;
    }
    .preface nav a:nth-of-type(2) {
        break-after: column;
    }
    .entry article,
    footer,
    .languages > ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .entry article > picture img {
        aspect-ratio: auto;
    }
}

@media (max-width: 768px) {
    .entry article {
        display: flex;
        flex-direction: column;
    }
    .entry article picture {
        order: -1;
        align-self: stretch;
    }
    .entry:not(.sifted) article > picture img {
        aspect-ratio: 2/1;
    }
    .author ul {
        grid-template-columns: repeat(2, max-content);
    }
}

@media (max-width: 648px) {
    h1 {
        font-size: 2.8125rem;
        letter-spacing: 0em;
        line-height: var(--display-2-leading);
    }
    h2 {
        font-size: 1.25rem;
        letter-spacing: 0.005em;
        line-height: var(--title-leading);
    }
    .preface nav {
        column-count: 1;
    }
    .preface nav a:nth-of-type(2) {
        break-after: auto;
    }
    footer,
    .languages > ul {
        display: flex;
        flex-direction: column;
        row-gap: var(--keyline);
    }
    .author ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 648px) and (min-width: 632px) {
    .version-warning {
        padding: 0;
    }
    .version-warning .container {
        max-width: calc(var(--main-grid-unit) * 4 / 3 + var(--main-column-gap));
    }
    header {
        width: 100%;
        max-width: calc(var(--main-grid-unit) * 4 / 3 + var(--main-column-gap));
    }
    .entry,
    .introduction {
        max-width: calc(var(--main-grid-unit) * 4 / 3 + var(--main-column-gap));
        padding: 0;
    }
}

@media (max-width: 632px) {
    :root {
        --increment: 56px;
    }
}

@media (max-width: 488px) {
    .entry[class~="detailed"] .description,
    .introduction .description {
        font-size: 1rem;
        letter-spacing: 0.01em;
        line-height: var(--subheading-leading);
    }
    h1 {
        font-size: 2.125rem;
        letter-spacing: 0em;
        line-height: var(--display-1-leading);
    }
}

@media (max-width: 472px) {
    .version-warning {
        padding: 0;
    }
    .version-warning .container {
        max-width: var(--main-grid-unit);
    }
    header {
        width: var(--main-grid-unit);
    }
    .preface,
    .entry,
    body > hr,
    footer,
    .preferences,
    .languages,
    .faq {
        width: calc(100% - 2 * var(--keyline));
        max-width: var(--main-grid-unit);
        padding: 0;
    }
    .introduction {
        max-width: var(--main-grid-unit);
        padding: 0;
    }
    .staff {
        grid-template-columns: none;
        grid-auto-flow: row;
        row-gap: 4px;
    }
    .staff .secondary .icon {
        padding: 0 8px;
    }
    .labels {
        column-count: 1;
    }
    .preferences {
        margin-top: 20px;
    }
    .author ul {
        padding: 0;
    }
    .author ul a {
        column-gap: var(--keyline);
    }
    .entry[class~="sifted"] .icon {
        width: var(--increment);
        text-align: center;
    }
}

@media (max-width: 408px) {
    header {
        margin-top: 8px;
    }
    .preface {
        padding: 0 var(--keyline);
        margin-top: 20px;
    }
    .entry {
        width: auto;
        margin-top: 20px;
    }
    .preface article {
        order: 3;
    }
    .preface nav {
        font-size: 1.25rem;
        letter-spacing: 0.005em;
        line-height: var(--title-leading);
    }
    .preface nav a {
        padding: 5px 0;
    }
    .preface nav span {
        font-size: 24px;
    }
    body > hr {
        max-width: calc(100% - 2 * var(--keyline));
    }
    footer {
        padding: 0 var(--keyline);
        row-gap: 20px;
    }
}

@media (max-width: 392px) {
    :root {
        --keyline: 16px;
    }
    .version-warning,
    .entry,
    .introduction {
        padding: 0 var(--keyline);
    }
    header {
        width: calc(100% - 2 * var(--keyline));
    }
}
